<!-- Contact Section -->
<section data-anchor="contact" class="section contact-section text-center">
<div class="container">
	<div class="row ">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Contact</h2>
			<p>Send him an email: <a href="mailto:peter@novelist.xyz">peter@novelist.xyz</a></p>
			<p><br/ ></p>
			<h3>Connect on Social Media</h3>
			<p>{% include social-buttons.html %}</p>
			<p><br/ ></p>
			<p><br/ ></p>
			<p><br/ ></p>
			<p><br/ ></p>
			<p><br/ ></p>
			<p><small>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</small></p>
		</div>
	</div>
</div>
</section>
