</div>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/jquery.easing.min.js"></script>
		{% if page.url == "/index.html" %}
			<script src="/assets/js/jquery.fullPage.min.js"></script>
			<script type="text/javascript">
			$(document).ready(function() {
				$('#fullpage').fullpage({
					anchors: ['page-top', 'about', 'novels', 'blog', 'contact'],
					scrollBar : true,
					menu : '#navmenu'
				});	
			});
			</script>
		{% endif %}
		<script src="/assets/js/grayscale.js"></script>
	</body>
</html>
