<!-- Novels Section -->
<section data-anchor="novels" class="section novels-section text-center">
	<div class="container">
		<div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
				<a href="#about" class="btn btn-circle btn-lg page-scroll">
					<i class="fa fa-angle-double-up animated"></i>
				</a>
				<p><br/ ></p>
				<p><br/ ></p>
		        <h2>Novels</h2>
		        <p>Learn more about his <a href="/novels/">novels</a>—</p>
		        <h4><strong><a href="/novels/2047/">Twenty Forty-Seven</a></strong></h4>
		        <h4><strong><a href="/novels/only-you-know-what-it-means/">Only You Know What It Means</a></strong></h4>
				<p>To learn more about his writing process, read "<a href="/on-writing/how-to-write-novels/">How to write novels</a>".</p>
				<p><br/ ></p>
				<p><br/ ></p>
				<a href="#blog" class="btn btn-circle btn-lg page-scroll">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
		    </div>
		</div>
	</div>
</section>
