<ul class="list-inline banner-social-buttons">
    <li>
        <a href="https://twitter.com/peterychuang" class="fa-stack fa-lg" title="Twitter"><i class="fa fa-twitter"></i> <span class="network-name"></span></a>
    </li>
    <li>
        <a href="https://plus.google.com/+PeterYuChuang/" class="fa-stack fa-lg" title="Google+"><i class="fa fa-google-plus"></i> <span class="network-name"></span></a>
    </li>
    <li>
        <a href="https://medium.com/@peterychuang" class="fa-stack fa-lg" title="Medium"><i class="fa fa-medium"></i> <span class="network-name"></span></a>
    </li>
</ul>
