{{ if .IsHome }}
  <script src='/assets/js/fullPage.min.js'></script>
  <script>
    fullpage.initialize('#fullpage',{anchors:['page-top','about','novels','blog','bookshelf','contact'],'scrollBar':true,menu: '#navmenu'});
  </script>
{{ end }}

<script>
{{ if ne .Title "Bookshelf" }}
// Blur-up header image loading
  document.addEventListener("DOMContentLoaded", function() {
    var e = document.querySelector(".header");
    if (!e) return !1;
    var t = e.getAttribute("data-src"),
        d = document.querySelector(".img"),
        n = new Image;
    n.src = t, n.onload = function() {
        d.classList.add("loaded"), d.style.backgroundImage = "url(" + t + ")";
    }
  });
{{ end }}

// Make dropdown parents clickable
  var b = document.querySelectorAll(".navbar .dropdown > a");
  for (i = 0; i < b.length; ++i) b[i].onclick = function() {
    location.href = this.href
  };

// Change colour of navbar and show footer on scroll
  var h = document.querySelector("header");
      n = document.querySelector(".navbar");
    {{ if not .IsHome }}
      f = document.querySelector(".footer");
    {{end}}
    top = h.getBoundingClientRect().top;
  window.onscroll = function() {
    var top = h.getBoundingClientRect().top;
    if (top <= -50) {
      n.classList.add("scrolled");
      {{ if not .IsHome }}
        f.classList.add("show");
      {{end}}
    } else {
      n.classList.remove("scrolled");
    }
  };

// Show footer if the document height is shorter than the window
  {{ if not .IsHome }}
    var b = document.body.clientHeight;
        w = window.innerHeight;
        m = document.querySelector(".footer");
    if (b <= w) {
      m.classList.add("show");
    };
  {{ end }}

/* Bootstrap Replacement

   Inspired by and modified from Bootstrap without Jquery Project
   https://github.com/tagawa/bootstrap-without-jquery
*/

  var e=document.querySelector(".navbar-toggle");
  var t=document.querySelector(".navbar-collapse");

  function getMaxHeight(t) {
    // Source: http://n12v.com/css-transition-to-from-auto/
    var prevHeight = t.style.height;
    t.style.height = 'auto';
    var maxHeight = getComputedStyle(t).height;
    t.style.height = prevHeight;
    t.offsetHeight; // force repaint
    return maxHeight;
  }

  function complete(element) {
    t.classList.remove('collapsing');
    t.classList.add('collapse');

    // Check whether the element is unhidden
    if (t.style.height !== '0px') {
      t.classList.add('in');
      t.style.height = 'auto';
    }
  }

  var a = e.getAttribute("aria-expanded");

/* Open the Menu after clicking the menu button */
  e.onclick = function() {
    if (a == "false") {
      t.classList.remove('collapse');
      t.classList.add('collapsing');
      e.classList.remove('collapsed');
      e.setAttribute('aria-expanded', true);

      // Set element's height to its maximum height
      t.style.height = getMaxHeight(t);
    }
  }

/* Collapse the menu after clicking anywhere, not just the menu button.
   But only if the menu is already expanded, obviously. */
  a=e.getAttribute("aria-expanded")
  document.onclick = function(){
    if (a == "true") {
      t.classList.remove("collapse");
      t.classList.remove("in");
      t.classList.add("collapsing");
      e.classList.add("collapsed");
      e.setAttribute("aria-expanded",!1);
      t.style.height = getComputedStyle(t).height;
      t.offsetHeight,t.style.height="0px"
    };

    t.addEventListener("transitionend", function() {
        complete(t);
    });
    a=e.getAttribute("aria-expanded")
  };
</script>

<script async src='/assets/js/cookieconsent.min.js'></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66841656-1', 'auto');
  ga('send', 'pageview');

</script>
