<div class="col-lg-8 col-lg-offset-2">
  <h4 class="relatedPost">You may also like...</h4>
  <ul class="relatedPost">
    {{ $i := 0 }}
    {{ $page_link := .Permalink }}
    {{ $tag := .Params.tag }}
    {{ range where .Site.Pages.ByDate.Reverse "Type" "post" }}
      {{ $page := . }}
      {{ $has_common_tag := intersect $tag .Params.tag | len | lt 0 }}
      {{ if and $has_common_tag (ne $page_link $page.Permalink) ( lt $i 3) }}
        <li class="relatedPost">
          <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a><br />
          {{ .Description }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
