{{ partial "common/head.html" . }}
{{ partial "common/nav.html" . }}
{{ partial "common/header.html" . }}
  <section id="{{ lower .Title | urlize }}" class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {{ .Content }}
          <h4 id="toc">Table of Contents</h4>
          <nav class="toc">
            <ul>
            {{ range .Site.Data.novelists.everything }}
              <li><a href="#{{ .name | urlize | lower }}">{{ .name | markdownify }}</a></li>
              <ul>
                {{ range .sources }}
                <li><a href="#{{ .title | urlize | lower }}">{{ .title | markdownify }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
            </ul>
          </nav>
          {{ range .Site.Data.novelists.everything }}
            <hr />
            <h3 id="{{ .name | urlize | lower }}">{{ .name | markdownify }}</h3>
            <p>{{ .bio | markdownify }}</p>
            {{ range .sources }}
              <h4 class="book-name" id="{{ .title | urlize | lower }}">{{ .title | markdownify }}</h4>
              {{ range .quotes }}
                <blockquote>
                  <p>{{ .entry | markdownify }}</p>
                  {{ if .credits }}<p><small><em>{{ .credits | markdownify }}</em></small></p>{{ end }}
                </blockquote>
                {{ if .comment }}<p>{{ .comment | markdownify }}</p>{{ end }}
                <p><br /></p>
              {{ end }}
          {{ end }}
          <p><a href="#toc"><sup>[table of contents]</sup></a></p>
          <p><br /></p>
          {{ end }}
          <p class="meta"></p>
        </div>
      </div>
      <div class="row">
	      {{ partial "common/author.html" . }}
      </div>
    </div>
  </section>
{{ partial "common/footer.html" . }}
