{{ partial "common/head.html" . }}
{{ partial "common/nav.html" . }}
{{ partial "common/header.html" . }}
  <section id="{{ .Title | urlize }}" class="content list">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p class=tag-list>
            {{ range $tags, $taxonomy := .Site.Taxonomies.tag }}
              <a href="/tag/{{ $tags | urlize }}/"><i class="fa fa-tag">&nbsp;</i>{{ replace $tags "-" " " | title | markdownify }}</a> &#40;{{ .Count }}&#41;
            {{ end }}
          </p>
        </div>
      </div>
    </div>
  </section>
{{ partial "common/footer.html" . }}
