<div class="col-lg-2 col-lg-offset-2">
	<img src="{{ site.urlimg }}avatar.jpg" class="avatar" />
	<p class="connect-buttons">
		<a href="https://twitter.com/peterychuang" class="fa-stack fa-lg" title="Twitter"><i class="fa fa-twitter fa-stack"></i></a>
		<a href="https://plus.google.com/+PeterYuChuang/" class="fa-stack fa-lg" title="Google+"><i class="fa fa-google-plus fa-stack"></i></a>
		<a href="https://medium.com/@peterychuang" class="fa-stack fa-lg" title="Medium"><i class="fa fa-medium fa-stack"></i></a>
		<a href="mailto:peter@novelist.xyz" class="fa-stack fa-lg" title="Email"><i class="fa fa-envelope fa-stack"></i></a>
	</p>
</div>
<div class="col-lg-6">
<p>Peter Y. Chuang is a Hong Kong-born <b><a href="/">novelist</a> and short story writer</b> who’s lived in London and calls Berlin his spiritual home. He has completed the manuscript of a literary science fiction <a href="/#novels">novel</a>, <b>“<a href="/novels/2047">Twenty Forty-Seven</a></b>,” and is currently re-writing another literary <a href="/#novels">novel</a>, <b>“<a href="/novels/only-you-know-what-it-means/">Only You Know What It Means</a></b>.”</p>
</div>
