<section data-anchor="about" class="section about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>About</h1>
        <p>Peter Y. Chuang is a Hong Kong-born <b><a href="/">novelist</a>, <a href="/short-stories">short story</a> writer</b>, and a <b><a href="//kritiker.xyz">music critic</a></b> who has lived in London at a time and now goes to Berlin semi-regularly for no good reason. When he’s not writing or reading, he’s probably playing with his cat, or listening to classical music, either at home or at one of the opera houses and concert halls in Germany. He uses Linux (current distro of choice: <a href="//archlinux.org">Arch Linux</a>). Read more about his <b><a href="/tag/linux/">Linux stuff</a></b>.</p>
      </div>
    </div>
  </div>
</section>
