<section data-anchor="about" class="section about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>About</h1>
        <p>Peter Y. Chuang was born in Hong Kong, has once lived in London, and has always wanted to be a Berliner. Once an accomplished pianist, he’s studied psychology and finance, worked in finance, and did financial blogging before turning his attention to to writing <a href="#novels">novels</a> and <a href="/short-stories">short stories</a>.</p>
        <p>When he isn't reading or writing, he listens to classical music. He uses Linux (current distro of choice: <a href="//archlinux.org">Arch Linux</a>). Read more about his <a href="/tag/linux/">Linux stuff</a>.</p>
        <p>He has a cat.</p>
      </div>
    </div>
  </div>
</section>
